@font-face
{
	font-family:daggerdancer;
	src:url(fonts/daggerdancer.ttf);
}
@font-face
{
	font-family:techno;
	src:url(fonts/techno_hideo.ttf);
}
@font-face {
	font-family:inter ;
	src: url(fonts/Inter-VariableFont_opsz\,wght.ttf);
}
@font-face {
	font-family: maximum;
	src: url(fonts/Maximum\ Voltage.ttf);
}
@font-face {
	font-family: ethno;
	src: url(fonts/Ethnocentric\ Rg\ It.otf);
}
.daggerdancer{font-family:daggerdancer;}
.techno{font-family:techno;}
.inter{font-family: inter;}
.maximum{font-family: maximum}
.ethno{font-family: ethno}